@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

.footer{
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
  }

  .top{
    width: 100%; /* Full viewport width */
    height: 60px; /* Height of the line */
    background-color: #333; /* Your desired color */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left edge */
    z-index: 10; /* Ensure it stays above other elements */
    display:flex;
    align-items: center;
    position: fixed;
  }
  
  .top h1{
    color:white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 25px;
  }

  .bi{
    color:white;
    height: 40px;
    width: 60px;
  }

  .bi :hover{
    color: #81D4FA;
  }

  .pic{
    height: 300px;
    width: 350px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    margin-top: 10px;
  }
  .teacher{
    border: 2px solid saddlebrown;
    border-radius: 2px;
    max-width: 500px;
    margin: 30px;
    flex: 2;
    position: fixed;
    overflow-y:auto;
  }
  .detail {
    font-family: "Poppins";
  }
  .welcome{
    font-size:22px;
    text-align: center;
  }
  .question{
    flex: 1;
    max-width: 60%;
    margin-left: 600px;
  }

  .content{
    margin-top: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
  }