.question{
    border-bottom: 1px solid black;
    width: 607px;
    height: 112px;
    text-align: center;
    display: block;
    margin: 30px;
    cursor: pointer;
}
.question :hover{
    border: 1px solid black;
}