.top{
    width: 100%; /* Full viewport width */
    height: 60px; /* Height of the line */
    background-color: #333; /* Your desired color */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left edge */
    z-index: 10; /* Ensure it stays above other elements */
    display:flex;
    align-items: center;
  }